
 <title>Productos</title>
  </head>
  <body>
    <h1>Productos</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Stock</th>
          </th>description</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{title}}</td>
          <td>{{category}}</td>
          <td>{{price}}</td>
          <td>{{stock}}</td>
          <td>{{description}}</td>
          <td><button>Add Cart</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div>
      {{#if prevLink}}
      <a href="{{prevPage}}">Anterior</a>
      {{/if}}
      {{#if nextLink}}
      <a href="{{nextPage}}">Siguiente</a>
      {{/if}}

